@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap");

.App {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#logo {
  font-size: 2rem;
  font-weight: 500;
}

#frontpage {
  color: #212529;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frontpage-text {
  font-family: "Heebo", sans-serif;
  min-height: 50vh;
  min-width: 80vw;
  align-items: center;
  padding: 50px;
}

#first-line {
  font-size: 6.5rem;
}

#second-line {
  font-size: 2rem;
}

.undraw {
  height: 50vh;
  width: 50vw;
}
.icons {
  margin-top: 2rem;
}

#projects {
  min-height: 90vh;
  min-width: 80vw;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 3rem;
}

.title > h1 {
  font-size: 3rem;
}

#about {
  min-height: 60vh;
  min-width: 80vw;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-section > h4 {
  margin-top: 20px;
  word-wrap: break-word;
}

#skills {
  min-height: 50vh;
  min-width: 100%;
}

#contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #212529;
  color: #fff;
}

#icons {
  max-width: 50px;
  max-height: 50px;
  margin: 20px 10px 20px 10px;
}

.section-title {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.section-title > h2 {
  font-size: 3rem;
}

.mail-address {
  color: #fff;
  text-decoration: none;
}

.mail-address:hover {
  color: rgb(108, 99, 255);
}

.skill-icons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
